:root{
    --color-primario: #6ec1e4;
    --color-secundario: #54595F;
    --color-terciario: #E9E9E9;
    --color-cuarto: #FC6600;
    --color-quinto: #54595F;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos generales para centrar el banner */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Contenedor del banner */
.banner-container {
    display: flex;
    width: 100%;
    overflow: hidden; /* Oculta el texto cuando sale del contenedor */
    color: var(--color-terciario);
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(135deg,rgb(32, 32, 196) 0%,rgb(110, 193, 228) 100%);
}

/* Estilos del banner */
.banner {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #030303;
    display: inline-block;
    white-space: nowrap; /* Mantiene el texto en una sola línea */
    position: relative;
    animation: moverBanner 10s linear infinite; /* Animación CSS para mover el texto */
}

/* Animación para desplazar el banner de derecha a izquierda */
@keyframes moverBanner {
    0% {
        transform: translateX(100%); /* Inicia fuera de la pantalla a la derecha */
    }
    100% {
        transform: translateX(-100%); /* Se mueve hacia la izquierda fuera de la pantalla */
    }
}

